<header id="header" class="header d-flex flex-column justify-content-center">

    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'portfolio:home' %}#home" class="active"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
        <li><a href="{% url 'portfolio:home' %}#about"><i class="bi bi-person navicon"></i><span>About</span></a></li>
        <li><a href="{% url 'portfolio:home' %}#skills"><i class="bi bi-bar-chart-line navicon"></i><span>Skills</span></a></li>
        <li><a href="{% url 'portfolio:home' %}#resume"><i class="bi bi-file-earmark-text navicon"></i><span>Resume</span></a></li>
        <li><a href="{% url 'portfolio:home' %}#portfolio"><i class="bi bi-images navicon"></i><span>Portfolio</span></a></li>
        <li><a href="{% url 'portfolio:home' %}#contact"><i class="bi bi-envelope navicon"></i><span>Contact</span></a></li>
      </ul>
    </nav>

  </header>